.bgHeader{
    background-color: #F4F7FE;
}
ul{
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    display: flex;
}
li{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    background-color: white;
}
ul li a{
    color: #476db2;
}
i.fa-solid.fa-envelope{
    color: #476db2;
}
@media screen and (max-width: 36rem) {
    .bgHeader{
        display: none;
    }
}