.bgHeader{
    background-color: #F4F7FE;
}
.ulList{
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    display: flex;
}
.ulListLi{
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
    border-radius: 100%;
    background-color: white;
}
ul.ulList li.ulListLi a{
    color: #476db2;
}
i.fa-solid.fa-envelope, i.fa-solid.fa-location-dot{
    color: #476db2;
}
figure{
    margin: 0;
}
figure .imgFigure{
    width: 3.125rem;
    height: 3.125rem;
}
@media screen and (max-width: 36rem) {
    .bgHeader, .contenedorInfo{
        display: none !important;
    }
}
div#navbarNav{
    justify-content: flex-end;
}